.dashboardLayout {
  display: flex;
  gap: 15px;
  height: 100%;



  .content {
    flex: 4.3;
    // background-color: #12101b;
    background-color: #17171b;
    // background-color: #1a1a1a;
  }
}