.dashboardPage {
  height: calc(100dvh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;

  .texts {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;

    .logo {
      display: flex;
      align-items: center;
      gap: 20px;

      img {
        width: 64px;
        height: 64px;
      }

      h1 {
        font-size: 40px;
        color: #ececec;
        text-align: center;
      }
    }

    .choose-assistant {
      font-weight: 500;
      font-size: 16px;
      color: #636366;
      margin-top: 10px;
      margin-bottom: 20px;
    }

    .options {
      width: 100%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 10px;

      .option,
      .both-option {
        cursor: pointer;
        flex: 1 0 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-weight: 300;
        font-size: 14px;
        padding: 20px;
        border: 1px solid #555;
        border-radius: 20px;
        margin-inline: 10px;

        &.selected {
          transition: all 0.3s ease;


          &:first-child {
            border-color: #217bfe;
            box-shadow: 0 0 10px rgba(33, 123, 254, 0.5);
          }

          &:nth-child(2) {
            border-color: #ff3784;
            box-shadow: 0 0 10px rgba(248, 64, 131, 0.5);
          }

          &.both-option {
            border-color: #b2b2b4;
            box-shadow: 0 0 10px rgba(142, 142, 147, 0.5);
          }
        }

        img {
          width: 45px;
          height: 45px;
          object-fit: cover;
        }

        .assistant-name {
          color: #ececec;
          font-size: 16px;
          font-weight: 400;
        }

        .assistant-description {
          text-align: center;
        }
      }

      .both-option {
        flex: 1;
        margin-top: 20px;
        padding: 10px;
        max-width: 150px;
      }
    }
  }

  .formContainer {
    margin-top: auto;
    width: 50%;
    background-color: #2c2937;
    border-radius: 20px;
    display: flex;

    form {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      margin-bottom: 10px;

      input {
        flex: 1;
        padding: 20px;
        background-color: transparent;
        border: none;
        outline: none;
        color: #ececec;
        font-size: 15px;
      }

      button {
        background-color: #605e68;
        border-radius: 50%;
        border: none;
        cursor: pointer;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;

        img {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}