.sidemenu {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 15px;

  .logo {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: transparent !important;
    padding-bottom: 15px;

    :hover {
      background-color: transparent !important;
    }
  }

  hr {
    border: none;
    height: 2px;
    background-color: #ddd;
    opacity: 0.1;
    border-radius: 5px;
    margin: 15px 0px;
  }

  .title {
    font-weight: 600;
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;

    .toggle-arrow {
      display: inline-block;
      vertical-align: middle;
      transform: rotate(0deg);
      transition: transform 0.3s ease;

    }

    &.titleDashboard {
      cursor: default;
      margin-bottom: 10px;
      margin-top: 10px;
    }

    &.open {
      .toggle-arrow {
        transform: rotate(90deg);
      }
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    overflow: auto;
    transition: transform 0.3s ease;
    margin-top: 10px;
    gap: 3px;

    .delete-button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @keyframes toggleListOpen {
      0% {
        height: auto;
      }

      100% {
        height: 0;
        margin-top: 0;
      }
    }

    &.closed {
      animation: toggleListOpen 0.3s forwards;
    }
  }

  .chat-item {
    padding-right: 10px;
    border-radius: 10px;
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
    cursor: pointer;

    .chat-item-link {
      flex: 1;
      padding: 8px 10px;
      display: flex;
      align-items: center;
    }

    &:hover:not(.active) {
      background-color: #312e3d;
    }

    &.active {
      background-color: #4341534d;
    }
  }

  .dashboardLink {
    padding: 4px 10px;
    border-radius: 10px;
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    height: 38px;
    gap: 5px;

    &:hover {
      background-color: #312e3d;
    }
  }


  .bottom {
    margin-top: auto;
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    gap: 10px;

    .upgrade {
      font-size: 12px;

      img {
        width: 24px;
        height: 24px;
      }

      .texts {
        display: flex;
        flex-direction: column;
        background-color: transparent;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 4px;
        cursor: pointer;
        font-size: 12px;
        border: none;
        color: #fefefe;


        span {
          &:first-child {
            font-weight: 600;
            text-align: left;
          }

          &:last-child {
            color: #888;
            text-align: left;
          }
        }
      }
    }
  }
}